<div id="__EDDY_TRAVELS_CHAT_WIDGET" style="height: 600px; width: 100%;overflow: hidden"></div>
<script src="https://assets.eddytravels.com/staging/widget_embedded.min.js" async=""></script>
<script>window.__ET= { partnerId: 'rckkxltgzhopvyeg' } </script>